*{
    margin: 0 !important;padding: 0 !important;
    box-sizing: border-box;
}

#aside{
    height: 100vh;
    position: fixed;
    top: 0;left: 0;
    background-color: #FAFAFA;
/*   transform: translateX(-100%);  */
}
nav{

    height: 400px;
}
nav>ul>li{
    list-style-type: none;
    position: relative;
    transition: .4s;
}
nav>ul>li:hover{
    transform: translateX(15px);
}
nav>ul>li::after{
    content: '';
    display: flex;
    position: absolute;
    bottom: 0;;left: -20%;
transition: .4s;
    height: 2px;
  
    background-color: #DF5646;

}
nav>ul>li:hover::after{
     width: 20%;
}
nav>ul>li>a{
    color: #221f1f;
    text-decoration: none;
    font-size: 19px;
    transition: .4s;
    font-family: 'Noto Sans', sans-serif;
}
nav>ul>li>a:hover{
   color: #DF5646;
}
#asidef{
    height: 190px !important;
    border-top: 1px solid #221f1f;
    font-family: 'Noto Sans', sans-serif;
}

#asidef>section>a{
  text-decoration: none;
  color: #221f1f;
  border-bottom: 1px solid #221f1f;
}

